* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

body {
  font-family: Manrope;

  margin: 0;
  padding: 0;

}
h1 {
  font-family: 'Manrope', sans-serif; /* Apply Manrope to all h1 elements */
}
header {
  background-color: #c09a6b; /* Background color matching the second image */
  padding: 15px 30px;
}
.menu-click{
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  width: 1440px;
  height: 70px;
  gap: 0px;
  opacity: 0px;
}

.logo-img {
  width: 150px; /* Set the width of the logo */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #2c2c2c; /* Dark text color for navigation links */
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #2e3b59; /* Slightly darker hover effect */
}



/* Mobile Drawer Styles */
.drawer {
  position: fixed;
  top: 0;
  left: -250px; /* Hidden off-screen */
  width: 250px;
  height: 100%;
  background-color: #c09a6b;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

.drawer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.drawer-links li {
  margin-bottom: 20px;
}

.drawer-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.drawer-links a:hover {
  color: #f1f1f1;
}

/* Hide mobile drawer and menu toggle on desktop */
.menu-toggle {
  display: none;
}

.get-quote-btn {
  background-color: #2e3b59; /* Button background color */
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

.get-quote-btn:hover {
  background-color: #3f4f72;
  transform: scale(1.05); /* Slight zoom effect on hover */
}.get-quote-btn-mobile {
  background-color: #2e3b59; /* Button background color */
  color: white;
  padding: 10px;
  border-radius: 1px;
  text-decoration: none;
  font-weight: 50;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
  margin: 6px;
}
.get-quote-btn-nav {
  background-color: #2e3b59; /* Button background color */
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
  margin-left:323px;
}

.get-quote-btn:hover {
  background-color: #3f4f72;
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  padding-left: 200px; /* Add padding to the left for spacing */
  background: url('/home.png') center center/cover no-repeat; /* Background image */
}
.branding-container{
  margin-left: 800px;
}
.about {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/sky.png') center center/cover no-repeat; /* Background image */
}
.contact {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/shaking.png') center center/cover no-repeat; /* Background image */
}
.ARC_PRO {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/arc_img.png') center center/cover no-repeat; /* Background image */
}
.ARC_PROs {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/alpha_main.png') center center/cover no-repeat; /* Background image */
}
.ARTER_PROs{
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/aster_img1.png') center center/cover no-repeat; /* Background image */

}
.alpha_sig_PROs{
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/alfa_sig1.png') center center/cover no-repeat; /* Background image */
}
.alpha_sig_PROs h1{
  font-size: 3.5rem;

}
.alpha_sig_PROs p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;

}

.avenu_PROs{
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/avenu1.png') center center/cover no-repeat; /* Background image */
}
.avenu_PROs h1{
  font-size: 3.5rem;

}
.avenu_PROs p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;

}



.ARTER_PROs h1{
  font-size: 3.5rem;

}
.ARTER_PROs p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;

}
.Bric_PROs {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/brick11.png') center center/cover no-repeat; /* Background image */
}
.EDGE_PRO {
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/edge_im1.png') center center/cover no-repeat; /* Background image */
}
.ALPHA_PRO{
  position: relative;
  height: 80vh; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Align content to the left */
  background: url('/alpha_main.png') center center/cover no-repeat; /* Background image */


}
.overlay {
  padding-top: 62px;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  color: white;
  margin-top: 63px;
  font-family:Manrope;
  
}

.about-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  color: white;
}

.contact-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  color: white;
}
.ARC_PRO-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  justify-content: center;
  text-align: center;
  color: white;
}
.ALFA_PRO-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  justify-content: center;
  text-align: center;
  color: white;
}
.ALPHA_PRO-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  justify-content: center;
  text-align: center;
  color: white;
}
.EDGE-PRO-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  justify-content: center;
  text-align: center;
  color: white;
}
.hero h1 {
  margin-bottom: 20px;
  font-family: Manrope;
  
}
.hero-content h1{
  font-family: Manrope;
}
.hero p {
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.about h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.ARC_PROs h1{
  font-size: 3.5rem;

}
.ARC_PROs p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;

}
.Bric_PROs h1{
  font-size: 3.5rem;

}
.Bric_PROs p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;

}
.about p {
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;
}
.contact h1{
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.ARC_PRO h1{
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.ARC_PRO p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;
}
.EDGE_PRO h1{
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.EDGE_PRO  p{
  margin: 20px 0;
  font-size: 1.3rem;
  line-height: 1.6;
}
.ALPHA_PRO{
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.ALPHA_PRO
  p{
    margin: 20px 0;
    font-size: 1.3rem;
    line-height: 1.6;
  }

.btn {
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}
.btn-arc{
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 300px;
}
.btn-aster{
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 200px;
}
.btn:hover {
  background-color: #8e7057;
  transform: scale(1.05);
}

/* About Section */
.about-section {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: flex;
  gap: 40px; /* Space between columns */
}

.image-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Gap between the two images */
}
.arc-image-column {
  
  display: flex;
}

.top-image, .bottom-image {
  width: 100%; /* Ensure images fit full width */
  object-fit: cover; /* Maintain aspect ratio */

}
.about-sec-top-image{
  height: 100vh;
}
.arc-inv-sec-top-image{
  width: 400px;
}

.content-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-column h1 {
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 400;
  line-height: 83.2px;
}

.content-sec-column h1{
  margin-bottom: 10px;
  line-height: 1.2;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 400;
  line-height: 73.2px;

}

.arc-inv-content-sec-column h1{
  margin-bottom: 10px;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 200;
  line-height: 63.2px;

}
.content-column p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.content-column h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.vision-text, .mission-text {
  background-color: #2A67B9;
  color: white;
  padding: 21px 24px;
  margin-bottom: 20px;
}

/* Why Choose Us Section */
.why-choose-us {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  margin-right: 170px;
}

.why-choose-us h3 {
  margin-bottom: 20px;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 400;
  line-height: 83.2px;
}

.why-choose-us a.btn {
  margin-top: 20px;
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.why-choose-us a.btn:hover {
  background-color: #8e7057;
  transform: scale(1.05);
}

/* Projects Section */
.projects {
  background-color: #f9f9f9;
  text-align: center;
  padding: 80px 0;
}

.projects h3 {
  margin-bottom: 20px;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 400;
  line-height: 83.2px;
}

.projects p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.projects a.btn {
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.projects a.btn:hover {
  background-color: #8e7057;
  transform: scale(1.05);
}

/* Arc Project Section */
.arc-project {
  display: flex;
  position: relative;
  margin-top: 90px;
}

.aster-arc-project{
  display: flex;
  position: relative;
  margin-top: 90px;
}
.arc-text {
  flex: 1;
  margin-left: 130px;
}

.aster-text {
  flex: 1;
  margin-left: 130px;
}
.arc-text img {
  max-width: 100%;
  margin-right:25px;
}
.aster-text img {
  max-width: 100%;
  margin-right:25px;
}

.arc-image {
  flex: 1;
  position: relative;
  text-align: left;
}

.arc-image img {
  max-width: 100%;
  height: auto;
}

.arc-description {
  position: absolute;
  bottom: -40px;
  left: 20px;
  background-color: white;
  padding: 20px;
  width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.arc-description h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.arc-description p {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Alpha Project Section */
.alpha-project {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  flex-direction: row-reverse;
}

.alpha-text {
  flex: 1;
}

.alpha-text img {
  max-width: 100%;
}

.alpha-image {
  flex: 1;
  position: relative;
  margin-left: 110px;
}

.alpha-image img {
  max-width: 100%;
  height: auto;
}

.alpha-description {
  position: absolute;
  bottom: -40px;
  right: 20px;
  background-color: white;
  padding: 20px;
  width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.alpha-description h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.alpha-description p {
  font-size: 1.1rem;
  line-height: 1.6;
}


.contact-us {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
}

.contact-left, .contact-right {
  width: 50%;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-left h3 {
  font-size: 36px;
  color: #333;
}

.contact-left p {
  font-size: 18px;
  color: #666;
}

.contact-details p {
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
}

.contact-details img {
  width: 20px;
}

.map img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.contact-right input, .contact-right textarea {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  width: 100%;
}

.contact-right button {
  padding: 15px;
  background-color: #a67c52;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-right button:hover {
  background-color: #7e5c39;
}


/* Footer Styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.logo-column {
  flex: 1.5;
}

.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-column p,
.footer-column ul li a {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #fff;
}
.menu-toggle{
  display: none;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #8e7057;
}

.footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  color: #fff;
}


.mobile_disk{
  display: none;
}
.mobile_lo_not{
  display: none;
}
.mobil_ek_step{
  display: none;
}

.why-choose-last{
  display: flex;
  justify-content: space-between;

}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info p {
  display: flex;
  align-items: center;
  line-height: 1.5;
  margin: 0;
}

.contact-info strong {
  margin-left: 8px;
}

.contact-info i {
  color: #A0522D; /* Adjust color as per your design */
  margin-right: 8px;
  font-size: 18px;
}

.only-mobile{
  display: none;
}
.mobile{
  display: none;
}


/* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Width of the modal */
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Form Styling */
#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  background-color: #2A67B9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Hide the hero section by default */
.hidden {
  display: none;
}


#contact-form button:hover {
  background-color: #1b4e99;
}

/* arc project individually */
.project-section {
  display: flex;
  justify-content: center;
  background-color: #a0452e; /* Background color of the section */
  padding: 20px;
  color: white;
}
.alfa-project-section {
  display: flex;
  justify-content: center;
  background-color:#1D3051; /* Background color of the section */
  padding: 20px;
  color: white;
}
.alfa-sig-project-section {
  display: flex;
  justify-content: center;
  background-color:#929056; /* Background color of the section */
  padding: 20px;
  color: white;
}
.avenu-sig-project-section {
  display: flex;
  justify-content: center;
  background-color: #2B443E; /* Background color of the section */
  padding: 20px;
  color: white;
}
.edge-project-section{
  display: flex;
  justify-content: center;
  background-color:#A6524F; /* Background color of the section */
  padding: 20px;
  color: white;
}
.alpha-project-section{
  display: flex;
  justify-content: center;
  background-color:#1D3051; /* Background color of the section */
  padding: 20px;
  color: white;
}
.project-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-left: 180px;
}

.left-content {
  flex: 1;
}

.status {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #eee;
  text-transform: uppercase;
  padding: 13px;
  margin-top: 50px;
}

.project-title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  padding: 13px;
}

.handover-info {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  display: flex;
  margin-left: 12px;
}

.handover-info i {
  margin-right: 10px;
}

.project-image {
  justify-content: center;
  background-color: #a0452e; /* Background color of the section */

}
.alfa-project-image{
  justify-content: center;
  background-color: #1D3051; /* Background color of the section */
  display: flex;
padding-bottom: 50px;
text-align: center;
}
.alfa-project-image img{
  margin-left: 32px;
}

.alfa-sig-project-image{
  justify-content: center;
  background-color:#929056; /* Background color of the section */
  display: flex;
padding-bottom: 50px;
text-align: center;
}

.venu-sig-project-image{
  justify-content: center;
  background-color:#2B443E; /* Background color of the section */
  display: flex;
padding-bottom: 50px;
text-align: center;
}

.venu-sig-project-image img{
  margin-left: 32px;

}

.alfa-sig-project-image img{
  margin-left: 32px;
}
.edge-project-image{
  justify-content: center;
  background-color: #A6524F; /* Background color of the section */

}

.project-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
padding-bottom: 90px;
}
.edge-project-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
padding-bottom: 90px;
}
.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 47px; /* Spacing from the left section */
}

.project-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-actions .download,
.project-actions .location {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.no-style-link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherit color from parent, so no blue */
  display: flex;
  align-items: center;
}

.download {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.download:hover {
  color: #3f4f72; /* Add hover effect if needed */
}

.project-actions i {
  margin-right: 8px;
}

.project-actions-box {
  background-color: #000; /* Black background for the box */
  padding: 20px;
  color: #fff; /* White text color */
  border-radius: 8px;
  width: 250px; /* Adjust width as necessary */
  margin-right: 140px;
}

.project-actions-box img {
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
}

.download, .location {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px 0;
}

.download i, .location i {
  color: #d2b48c; /* Custom color for the icon (you can change this) */
  font-size: 20px;
  margin-right: 10px;
}

.download span, .location span {
  font-size: 16px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc; /* Divider color */
  padding: 3px;
}

.arc-logo {
  display: flex;

}
.aster-arc-logo{
  margin-left: 100px;
  padding: 0px;
}
.edge-arc-logo{
  margin-left: 100px;
}
.avenu-arc-logo{
  margin-left: 100px;
}
.arc-pro-arc-logo{
  margin-left: 100px;
}
.alpha_desarc-logo{
  
}
.arc-logo-ASER{
  display: flex;
}
.arc-logo-ASER img{
  max-width: 80%; /* Ensure the logo is centered and responsive */

}

.arc-logo img {
  max-width: 80%; /* Ensure the logo is centered and responsive */
}



.project-overview-section {
  background-color: #f9f9f9;
  color: #333;
  padding: 73px;
}

.project-overview-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #2e3b59;
}

.project-overview-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #555;
}

.overview-content h3 {
  font-size: 28px;
  font-weight: 600;
  color: #2e3b59;
  margin-top: 40px;
}

.overview-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.overview-images .image-left, .overview-images .image-right {
  flex: 1;
}

.overview-images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



/* alphs page  */


.amenities-section {
  padding: 80px 100px;
  background-color: #fff;
}

.amenities-heading {
  color: #c09a6b;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-heading {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}

.amenities-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-amenities {
  flex: 1;
}

.left-amenities ul {
  list-style: none;
  padding: 0;
}

.left-amenities li {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.Real-home{
  color: white; display: flex; align-items: center;
}
.left-amenities li i {
  color: #c09a6b;
  margin-right: 15px;
  font-size: 20px;
}

.right-images {
  display: flex;
  gap: 20px;
  flex: 3;
}

.amenity-img1 {
  margin-left: 90px;
}

.left-amenities ul {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.left-amenities li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.list-icon {
  margin-right: 10px; /* This will create the gap between the icon and the text */
  width: 20px; /* You can adjust the icon size if necessary */
  height: auto;
}
.before-all-projects-desk{
  display: flex; align-items: center;margin-left: 704px;
}
.hero-content-no{
  display: none;
}

.branding-container-nodesk{
  display: none;
}

.Real_img_home{
  margin-right: 10px;
}

.mobile-hero{
  display: none;
}

.hero-both{
  display: flex;
}
.all-projects-desk{
  margin-right: 10px;
}
.contactsss-section{
  width: 100vw; /* Make the section span the full viewport width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #816d58; /* The background color based on the screenshot */
  padding: 40px 60px;
  margin: 0 auto;
  box-sizing: border-box; /* Ensure padding doesn't add to width */
  
}
.contactsss-text h2{
  font-size: 24px;
  font-weight: 400;
  color: white; /* Set text color to white */
  margin: 0;
  line-height: 1.5;
  font-family: Manrope;
  margin-left: 53px;
}

.contactsss-btn a{
  background-color: #d9b999; /* Light button background color */
  color: #333; /* Text color */
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 32px;
}

.hero-hero{
  font-size:3rem;
}
/* Mobile Responsive Styles */
.overlay-mobile{
  display: none;
}


@media (max-width: 768px) {
  
html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  .navbar {
    display: none;
  }
  .hero-both{
    display:contents;
    margin-bottom: 23px;
  }
  .overlay-mobile{
    display: contents;
  }
  .Real_img_home{
  }
  .contactsss-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    height: auto;
  }

  .contactsss-text h2 {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.5;
  font-family: Manrope;
  margin-right:52px;
  }

  .contactsss-btn a {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
  .only-mobile {
    display: flex;
    height: 50px; /* Reduced height for the mobile navbar */
    padding: 5px 12px; /* Reduced padding for a compact look */
    justify-content: space-between;
    align-items: center; /* Ensure elements are vertically centered */
  }
  .Real-home{
    color: white; display: flex;margin:0px;
  }
  .all-projects-desk{
  }
  nav ul {
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #c09a6b;
    gap: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  .before-all-projects-desk{
    display: flex; align-items: center;margin-left: 58px;margin-top: 10px;
  }
  nav ul.show {
    max-height: 500px; /* or whatever maximum height you need */
  }

.branding-container-nodesk{
  display: contents;
}
  .menu-click {
    display: block; /* Show menu toggle button */
  }
  .content-column {
    order: 1; /* Keep text above the images */
    width: 100%; /* Full width for mobile */
    margin-bottom: 20px; /* Add spacing */
  }

nav ul li{
  padding: 20px;
  padding-top: 0;
}
.menu-icon{
  display: block;
}
#menuList{
  transition: all 0.5s;
}
.btn-aster{
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 0px;
}
  
header {
  background-color: #c09a6b; /* Background color matching the second image */
  padding: 0;
}
.mobile_lo_not{
  display: contents;
}
.mobile_lo_not img{
  width: 100px; /* Adjust the logo size for mobile view */
}

.aster-text{
  margin-left: 0px;
  margin-bottom: 23px;
}

.btn-arc{
  background-color: #c09a6b;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 0px;
  margin-bottom: 12px;
}
  .nav-links {
    display: none;
  }
  .get-quote-btn {
    display: none;
  }
  .logo-img{
    display: none;
  }

  .logo-column {
  }
  .mobile_disk{
    width: 150px;
  }
  /* Show the mobile menu toggle (hamburger icon) */
  .menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: #2c2c2c;
    cursor: pointer;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
  }

  /* Mobile Navigation Links */
  .mobile-nav-links {
    padding: 10px 0; /* Reduced padding for mobile menu items */
 }


  .mobile-nav-links li {
    margin: 10px 0; /* Space between links */
  }

  .arc-text img {
    margin-right:0px;
  }
  .mobile-nav-links a {
    font-size: 16px; /* Adjust font size for readability */
    padding: 10px 0; /* Reduce padding inside mobile nav links */
  }

  .mobile-nav-links a:hover {
    color: #8e7057; /* Change hover color */
  }

  .navbar {
    height: 225px;
    width: 145px;
    justify-content: space-between;
    margin-left: 0px;
    padding: 12px;

  }

  .nav-links {
    display: block;
  }

  .hero {
    padding-left: 10px; /* Reduce padding for mobile */
    padding-right: 10px;
  }

  .hero-both {
    margin-bottom: 0px; /* Remove or reduce the bottom margin */
    gap: 10px; /* Adjust gap between elements if needed */
  }
.hero-content{
  display: none;
}

  /* Adjust the hero content to align it better */
  .hero-content-no {
    display: contents;
    font-size: 0.5rem; /* Ensure text is responsive */
    margin-bottom: 0; /* Reduce bottom margin */
    padding-top: 0px; /* Add some padding if necessary */
  }
  .hero-content-no p{
    font-size: 0.8rem;
    color: white;
  }

  /* Adjust the "branding-container-nodesk" section */
  .branding-container-nodesk {
    margin-left: 0; /* Remove unnecessary margin */
    font-size: 1.1rem; /* Ensure it's responsive */
  }

  .Real-home {
    margin: 0; /* Remove excess margin */
  }
  
  
  .get-quote-btn {
    padding: 8px 20px;
  }

  .about-section {
    flex-direction: column;
  }
  .overlay {
    padding-top: 20px;
  }
  .image-column {
    order: 2; /* Move images below the text */
    margin-top: 20px; /* Add spacing */
    width: 100%; /* Full width for mobile */
  }

  .content-column {
display: contents;
  }
  .mobil_ek_step{
    display: contents;
  }
  .content-column h1 {
    font-size: 1rem; /* Decreased font size for "Step into EK Homes' World of Construction Excellence" */
    margin-bottom: 0px;
    line-height: 0;
    font-family: Manrope;
    font-size: 2rem;
    font-weight: 40;
    line-height: 43.2px;
  }
  .content-column p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0px;
  }
  .branding-container {
    display: none;

  }
  .mobile_lo_not img {
    width: 80px; /* Make the logo smaller for mobile */
  }
 
  .content-column h2 {
    font-size: 2rem;
  }

  .why-choose-us {
    margin: 0px;
    text-align: center;
  }
  .why-choose-last{
    display: block;
    margin-bottom: 23px;
  }
  .why-choose-us h3 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    font-family: Manrope;
    font-size: 34px;
    font-weight: 200;
    line-height: 43.2px;
    margin-bottom: 23px;
  
  }
  .projects{
    background-color: #f9f9f9;
  text-align: center;
  padding: 10px;
 }
 .projects h3 {
  margin-bottom: 20px;
  font-family: Manrope;
  font-size: 44px;
  font-weight: 20;
  line-height: 48.2px;
}

.arc-text {
  flex: 0.5;
  margin-left: 30px;
  margin-bottom: 32px;
}

.arc-logo{
  margin-bottom: 1px;
  width: 323px;
  margin-left: 33px;
}
.btn {
  padding: 12px 25px;
    font-size: 1rem;
    background-color: #c09a6b;
}

  .arc-project, .alpha-project {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.about-sec-top-image{
  height: 50vh;
}
  .arc-description, .alpha-description {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
  }

  .alpha-image {
    margin-left: 20px; /* Adds space at the start of the image */
    width: 100%;
    margin-top: 20px;
  }
  .about h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .about {
    background: url('/sky.png') center center/cover no-repeat; /* Background image */
    padding-left: 20px;
    height: 100vh;
    padding-top: 10px;
    justify-content: center;
  }
  .about-content {
    position: relative;
    z-index: 2;
    max-width: 400px;
    color: white;
  }
  .about-gap{
    justify-content: space-between;
  }
  .arc-about-gap{
    display: flex;
    width: 12px;
  }
  .alpha-about-gap{
    width: 12px;
  }
  .content-sec-column h1{
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 53.2px;
  
  }
  .arc-about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns per row */
    gap: 20px; /* Adjust the space between the icons */
    justify-items: center; /* Centers the icons horizontally */
    margin-top: 20px;
  }
  
  .arc-about-grid img {
    max-width: 100px; /* Adjust the size of the icons */
    height: auto;
  }

  .contact {
    position: relative;
    height: 70vh; /* Full height of the viewport */
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Align content to the left */
    padding-left: 20px; /* Add padding to the left for spacing */
    background: url('/shaking.png') center center/cover no-repeat; /* Background image */
  }
  .contact-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    color: white;
  }
  .container {
    flex-direction: column; /* Stack the contact-left and contact-right */
    gap: 20px; /* Add spacing between them */
  }

  .contact-left, .contact-right {
    width: 100%; /* Full width on mobile */
  }

  .contact-right form {
    gap: 30px; /* Adjust the gap between form fields */
  }

  footer .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .footer-column {
    margin-bottom: 20px;
  }
}
